body {
    background-color: linen;
}
.mypainter{
    border-style: dotted;
    border-width: 5px;
    background-color: gold;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    height : 700px;
}
#mycanvas{
    border-style: double;
    border-width: thick;
    background-color : white;
    margin-top: 20px;
    margin-left: 80px;
    height:600px;
    width:1000px;
}
.btn{
    background-color : #4CAF50;
    border : none;
    color :white;
    text-align: left;
    text-decoration : none;
    display :inline-block;
    cursor: pointer;
    font-size: 16px;
    margin : 4px 2x;
    padding: 10px;
    border-radius: 80%;
}
.color {
    width: 30px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}
.font {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#purple {
    background-color: purple;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#pink {
    background-color: pink;
}
#black {
    background-color: black;
}
#gray {
    background-color: gray;
}